<div>
    <p><%= image_tag "Items/#{item.image_url}" %></p>
    <h4><%= item.title %></h4>
    <p><%= item.description %></p>
    <p><%= item.price_to %></p>
    <p><%= item.price_from %></p>
    <p><%= item.price_save %></p>
</div>