<p id="notice"><%= notice %></p>
   <% content_for :menu do %>
       <% @products.each do |product| %>
      <tr>
          <td><h4><%=link_to product.title, product %></h4></td>
      </tr>
    <% end %>
    <% end %>

<h3>Items (<%= @product.items.size %>)</h3>
<%= render partial: 'products/item', collection: @product.items %>

<%= render partial: 'items/form' %>
